angles==1.9.13
aniso8601==9.0.1
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
itsdangerous==2.1.2
Jinja2==3.1.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
laser-geometry==1.6.7
MarkupSafe==2.1.1
message-filters==1.15.14
python-qt-binding==0.4.4
pytz==2022.4
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.7
Werkzeug==2.2.2
xacro==1.14.13
zipp==3.9.0

